body{
    background-color: #5937D7;
}
.album {
    background-image: url(./assets/canarinho.png);
    width: 550px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    background-size: cover;
    background-repeat: no-repeat;
    gap: 20px;
    justify-content: center;
    padding: 30px 0;

}
h1 {
    color: white;
    text-align: center;
    margin: 55px 0px
}