* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
header {
    background-color: #D9D9D9;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 80px;
}
.links {
    display: flex;
    gap: 20px;
}
.links a {
color: black;
text-decoration: none;
}
.hero {
    background-color: #767676;
    height: 580px;
    display: flex;
    justify-content: center;
    align-items: center;
}
footer {
    background-color: #D9D9D9;
    text-align: center;
    padding: 20px 0px;
}
.card{
width: 250px;
background-color: grey;
padding: 20px;
display: flex;
flex-direction: column;
gap: 20px
}
.card-img {
width: 206px;
height: 97px;
background-color: black;
}
.cards {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 80px;
    padding: 60px 0px;
}
.desconto {
    background-color: red;
    color: white;
    width: 50px;
    text-align: center;
    height: 20px;
    position:absolute;
    right: 15px;
    top: 14px;

}
button {
    display: flex;
    justify-content: center;
    gap: 10px;
    padding: 5px;
}

